body {
  background-color: #f0efeb;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #f07167;
  overflow: hidden;
  font-family: "Mountains of Christmas";
}

h1 {
  position: absolute;
  overflow: hidden;
  top: 400px;
  color: white;

}

.base {
  position: absolute;
  top: 300px;
  height: 100px;
  width: 200px;
  background-color: grey;
  border-radius: 50%;
}

.layer {
  position: absolute;
  top: 300px;
  /* margin-top: 280px; */
  height: 50px;
  width: 185px;
  background-color: brown;
}

.layer2 {
  position: absolute;
  top: 300px;
  height: 90px;
  width: 185px;
  border-radius: 50%;
  background-color: brown;
}

.layer-top {
   top: 240px;
}



.cream {
  position: absolute;
  top: 250px;
  height: 90px;
  width: 185px;
  border-radius: 50%;
  background-color: yellow;
}
.cream2 {
  position: absolute;
  top: 290px;
  height: 10px;
  width: 185px;
  /* border-radius: 50%; */
  background-color: yellow;
}

.cream-top {
  top: 190px;
}

.candle {
  position: absolute;
  width: 10px;
  height:40px;
  background: repeating-linear-gradient(#fae0e4,
  #fae0e4 5px, #ff0a54 5px, #ff0a54 10px);
  box-shadow: inset -5px 0px rgba(0,0,0,0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.candle-top {
  top: 220px;

}

.candle-left {
  top: 200px;
  margin-left: 90px;
}

.candle-right {
  top: 200px;
  margin-right: 90px;
}

.container {
  position: absolute;
  transform: translate(-55px,0px);
}

.flame, .flame:before, .flame2, .flame2:before, .flame3, .flame3:before {
  position: absolute;

  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
}

.flame,.flame3, .flame2 {
  cursor: pointer;
  width:20px;
  height: 20px;
  transform: rotate(-45deg);

  z-index:4;
  background-color: rgba(252,191,73,.8);
  transition: .5s;
  animation: flame .5s infinite;
}

.flame {
  top:130px;
  margin-left: 45px;
}

.flame2, .flame3 {
  top: 110px;
}

.flame2 {
  margin-left:90px;
}

.flame3 {
  /* margin-left: 80px; */
  /* margin-left: 25px; */
  /* margin-right: 50px; */
}

.flame:before, .flame2:before, .flame3:before {
  content:"";
  background-color: rgba(247,127,0,.4);
  width:10px;
  height:10px;
  top:5px;
  left:5px;
}


@keyframes flame {
  0%, 25%, 100% {transform: scaleY(1) rotate(-45deg);}
  50%, 75% {transform: scaleY(1.1) rotate(-45deg);}
}

/* .text {
  font-weight: 700;
  font-size: 50px;
  background-image: repeating-linear-gradient(to right, indigo, blue, green, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */

.text {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  /* font-family: sans-serif; */
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
               -6px 6px #7e57c2,
               -8px 8px #43a047,
               -10px 10px #f9a825,
               -12px 12px #ff5722;
  opacity:0;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { text-shadow: -4px 4px black,
                   -6px 6px blue,
                   -8px 8px red,
                   -10px 10px yellow,
                   -12px 12px green; }
  50% { text-shadow: -4px 4px blue,
                   -6px 6px red,
                   -8px 8px yellow,
                   -10px 10px green,
                   -12px 12px black; }
  100% { text-shadow: -4px 4px red,
                   -6px 6px yellow,
                   -8px 8px green,
                   -10px 10px black,
                   -12px 12px blue; }
}
